.place__title {
  margin: 0;
  padding: 0;
  grid-area: title;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  width: min-content;
}

@media screen and (max-width: 768px) {
  .place__title {
    line-height: 46px;
    font-size: 42px;
    width: auto;
    max-width: 330px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    padding: 0 16px;
    line-height: 35px;
    font-size: 32px;
  }
}
