.places {
  margin: 0 auto;
  padding: 85px 148px 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 80px;
  max-width: 1280px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 85px 48px 92px;
  }
}