.places {
  margin: 0 auto;
  padding: 92px 148px 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 80px;
  max-width: 1280px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 92px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 90px 24px 101px;
    gap: 68px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0 71px;
    gap: 50px;
  }
}
