.cover__subtitle {
  margin: 0;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  max-width: 360px;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    white-space: pre-line;
  }
}
