.places__text {
  margin: 0;
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .places__text {
    gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .places__text {
    padding: 0 16px;
    gap: 28px;
  }
}
