.place__paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    white-space: pre-line;
  }
}
