.lead__image-container {
  margin: 0 ;
  padding: 64px 0 0;
  max-width: 984px;
  min-height: 701px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/*@media screen and (max-width: 1024px) {
  .lead__image-container {
    min-width: 928px;
    max-height: 594px;
  }*/
