.cover__background {
  margin: 0;
  background-image: url(../../../images/cover/depo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: cover;
  position: absolute;
}
