.cover__title {
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0;
  text-align: center;
  max-width: 560px;
}

@media screen and (max-width: 515px){
  .cover__title {
    font-size: 45px;
    line-height: 48px;
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}
