.footer {
	margin: 0 auto;
	padding: 91px 48px 24px;
	display: flex;
	justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 76px 24px 24px;
  }
}

@media screen and (max-width: 724px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    padding: 64px 16px 24px;
    gap: 48px;
    box-sizing: border-box;
  }
}
